@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:500,700&display=swap&subset=vietnamese');

.mainBox {
    position: relative;
    box-sizing: border-box;
    display: flex;
}
.mainBox .imgBox img{
    width: 500px;
    height: auto;
    margin: 10px;
    border: 15px solid rgba(222, 245, 235, 0.829);
    border-radius: 10px;
}
.mainBox .contentBox{
    float: right;
    margin: 15px;
}
.mainBox .contentBox .titleBox {
    color: rgb(46, 185, 33);
}
@media screen and (max-width: 600px) {
    .mainBox{
        display: block;
    }
    .mainBox .imgBox img{
        width: 100%;
        margin: 0;
    }
}
.about_content{
    text-align: center; 
    
}
.about_content .about_pic img{
    width: 25%;
    align-items: center;
    margin: 20px;
}
.about_content .about_text{
    margin-top: 20px 0px;
}
.about_content .about_text h3,p{
    margin: 10px 0px;
}
@media screen and (max-width: 500px) {
    .about_content .about_pic img{
        width: 80%;
    }
}
