@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
/* html */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    vertical-align: baseline;
    font-family: 'Baloo Thambi 2', cursive;
    scroll-behavior: smooth;
}

/* logo icon */

.logoheader {
    vertical-align: middle;
    float: left;
    margin: 10px;
}

.logoheader a {
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
}

.logoheader img {
    vertical-align: sub;
}

/* header */

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #1c6861;
    width: 100%;
    box-sizing: border-box;
}

header nav {
    float: right;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    display: block;
}

header nav ul li a:hover {
    color: #1c6861;
    background-color: white;
}

.menu_toggle img {
    width: 40px;
    vertical-align: middle;
}

.menu_toggle {
    float: right;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    display: none;
}

@media only screen and (max-width: 700px) {
    .active {
        left: 0;
    }
    .menu_toggle {
        display: block;
    }
    header {
        padding: 0 20px;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh -60px);
        background: #26857d;
        top: 60px;
        left: -100%;
        transition: 0.3s;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul a {
        border-bottom: 1px solid #e9ded7;
    }
}

/* main page */

main {
    margin-top: 60px;
    padding: 10px 0px;
    background-color: #fcdc97;
    display: block;
}

/* footer */

footer {
    background-color: #1c6861;
    padding: 20px;
    color: whitesmoke;
}

footer .footer_text a {
    color: rgb(116, 240, 230);
}

/* welcome intro */

.welcome_content {
    margin: 50px;
    padding: 150px;
    font-size: 24px;
    color: rgb(14, 11, 44);
    display: block;
}

.welcome_content h3 {
    color: rgb(19, 29, 117);
}

/* reviews content */

.reviews_content {
    box-sizing: border-box;
    background-color: #fcdc97;
    text-align: center;
    padding: 70px 0px;
}

.reviews_content h2{
    margin: 10px;
    font-size: 24px;
}

.reviews_content p {
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px white;
    color: rgb(62, 62, 62);
}
.reviews_content h4 {
    margin: 15px;
    font-size: 18px;
    color: rgb(50, 50, 255);
}
/* Create four equal columns that floats next to each other */

.reviews_content img {
    width: 80%;
    border: 10px solid whitesmoke;
    border-radius: 10px;
}

.reviews_content .column {
    float: left;
    width: 25%;
    background-color: #fcdc97;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.reviews_content .row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 700px) {
    .reviews_content .column {
        width: 100%;
    }
}

/* about me intro */

.about_content {
    text-align: center;
    margin: 140px;
}

.about_content h3 {
    font-size: 30px;
    margin: 20px;
    padding: 20px;
}

.about_content img {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.about_content p {
    display: inline-block;
    width: 46%;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    font-size: 24px;
}

@media only screen and (max-width: 700px) {
    .welcome_content {
        padding: 50px 0px;
        margin: 15px;
        text-align: center;
    }
    .about_content img {
        width: 100%;
    }
    .about_content {
        margin: 15px;
    }
    .about_content img {
        width: 70%;
    }
    .about_content p {
        padding: 10px;
        width: 90%;
    }
}

/* Contact Form */

.contact_content {
    border-radius: 5px;
    background-color: #fcdc97;
    padding: 20px;
    text-align: center;
}

.contact_content h3 {
    font-size: 30px;
}

.contact_content form {
    display: inline-block;
    width: 45%;
}

.contact_content img {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 80px;
}

.contact_content input[type=text], .contact_content input[type=email], .contact_content select, .contact_content textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact_content input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact_content input[type=submit]:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 700px) {
    .contact_content form {
        width: 80%;
    }
    .contact_content img {
        width: 80%;
        margin: 5px;
    }
}

/* Scroll back to top */

#scrollback button {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 10%;
    left: 90%;
    max-width: 50px;
    font-weight: 800;
    width: 100%;
    font-size: 24px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgba(79, 181, 248, 0.5);
    padding: 5px;
    border-radius: 50px;
}

#scrollback button {
    color: rgb(61, 60, 60);
}

#scrollback button:hover {
    background-color: #56aaa2;
}

#scrollback button:hover {
    color: white;
}

@media only screen and (max-width: 700px) {
    #scrollback button {
        right: 20%;
        left: 80%;
    }
}

/* reviews content sites */

#activelink {
    background-color: rgb(253, 84, 253);
}

.main_box {
    text-align: center;
}

.main_box h2 {
    font-size: 24px;
    margin: 20px;
}

.main_box .paras {
    font-size: 20px;
    margin: 30px;
    padding: 10px 50px;
    text-align: left;
    border-bottom-right-radius: 70px;
    border-bottom: 2px solid #1c6861;
    border-right: 2px solid #1c6861;
    box-shadow: 8px 8px #98e7df;
    background-color: white;
}

.main_box img {
    width: 50%;
    border: 15px solid whitesmoke;
    border-radius: 10px;
}